*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}
body{
    font-family: 'popinns' sans-serif;
    background-color: #edeef6;
}

input{
    margin: 0;
    border-radius: 5px;
    border: 1;
    font-size: 18px;
}
label{
    margin-right: auto;
    font-size: 18px;
}

.close{
    background-color:cadetblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;

}



.modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}
.modal{
    background: #fff;
    padding-bottom: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 400px;
    max-width: 100%;
    width: 700px;
    /* height: 600px; */
    margin-left: 500px;
    padding: 30px 50px;
    border-radius: 12px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.modal h1{
    margin: 0;
}




.columns {
  float: left;
  width: 33.3%;
  padding: 8px;  
}

 .price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 250px;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.3)
}

/* .price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.butto {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
} */ */


.price-button{
    background-color: blue;
    border-radius: 5px;
}
.button{
    background-color: #fff;
}

.nav-bar{
    display: flex;
    align-items: center;
    background-color: bisque;
    height: 70px;
}
.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.nav{
    margin-left: auto;
    margin-right: 70px;
    display: flex;
}
.nav a{
    margin-left: 26px;
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}
li{
    list-style: none;
}